{% extends 'learning/layout.html' %}

{% load static %}

{% block title %}{{ profile.username }}{% endblock %}

{% block navitems %}
{% if user.is_authenticated %}
  <li><a href="{% url 'browse' %}">Home</a></li>
  <li><a href="{% url 'dictionary' %}">Dictionary</a></li>
  <li><a href="{% url 'user' user.username %}">My profile</a></li>
  <li><a href="{% url 'logout' %}" class="btn btn-secondary btn-block">Log out</a></li>
{% else %}
  <li><a href="{% url 'index' %}">Home</a></li>
  <li><a href="{% url 'index' %}#features">Features</a></li>
  <li><a href="{% url 'index' %}#pricing">Pricing</a></li>
  <li><a href="mailto:albertonl.dev@gmail.com">Contact</a></li>
  <li><a href="{% url 'login' %}" class="btn btn-primary btn-block">Log in</a></li>
{% endif %}
{% endblock %}

{% block main %}
<div class="text-center main-content-profile my-5">
  <h1 class="poppins font-weight-bolder">{{ profile.username }}</h1>
  <p class="h5 raleway font-weight-normal">{{ profile.settings.points }} points</p>

  <hr class="my-4">

  <p class="h3 h3-small font-weight-normal">
    <i class="fas fa-book"></i>&nbsp;&nbsp;
    <span class="poppins small-only">Dictionary points:</span>
    <span class="poppins big-only">Dictionary contributions:</span>&nbsp;
    <span class="raleway">{{ profile.settings.dcontrib }}</span>
  </p>
  <p class="h3 h3-small font-weight-normal text-muted">
    <i class="fas fa-newspaper"></i>&nbsp;&nbsp;
    <span class="poppins small-only">Resource points:</span>
    <span class="poppins big-only">Resource contributions:</span>&nbsp;
    <span class="raleway">{{ profile.settings.rcontrib }}</span>
  </p>

  <hr class="my-4">

  <div class="h4 h4-small raleway font-weight-normal"><i>Member since {{ profile.date_joined }}</i></div>

  {% if its_me %}
  <a role="button" class="btn btn-primary btn-lg btn-block font-weight-bolder raleway mt-5 mb-1" href="{% url 'settings' %}">Go to settings</a>
  <a role="button" class="btn btn-secondary btn-lg btn-block font-weight-bolder raleway mt-1" href="{% url 'logout' %}">Log out</a>
  <div class="mt-5"><a class="h5 text-decoration-none" href="{% url 'browse' %}"><i class="fas fa-chevron-left"></i>&nbsp;&nbsp;Back to main page</a></div>
  {% else %}
  <div class="mt-5"><a class="h5 text-decoration-none" href="{% url 'index' %}"><i class="fas fa-chevron-left"></i>&nbsp;&nbsp;Back to main page</a></div>
  {% endif %}
</div>
{% endblock %}
